Source: openmediavault-addns-essencia
Section: net
Priority: optional
Maintainer: Gerik Bonaert <dev@adaxisoft.be>
Build-Depends: debhelper (>> 7), gettext
Standards-Version: 3.6.10
Homepage: http://adaxisoft.be

Package: openmediavault-addns-essencia
Architecture: all
Depends: openmediavault (>= 0.5.7), perl, addns
Priority: optional
Description: OpenMediaVault Addns plugin
 Addns is a DynDNS updater for Unix.
